**/Debug
**/Release
**/packages
**/AppPackages
**/BundleArtifacts
packages
output/
obj/
bin/
protobuf-*/

*.cache
*.suo
*.csproj.user
*.shproj.user
*.DotSettings.user
*.swp
GlobalInfo.cs
*.ncrunchsolution
*.ipch
*.sdf
*.user
